{% load static %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head lang="en">
  <meta charset="UTF-8"/>
  <title>Internships Reviews - {% block title %}{% endblock %}</title>
  {% block css %}
    <link href="{% static 'css/bootstrap.min.css' %}" type="text/css" rel="stylesheet"/>
    <link href="{% static 'css/font-awesome.min.css' %}" type="text/css" rel="stylesheet" />
    <link href="{% static 'css/common.css' %}" type="text/css" rel="stylesheet"/>
  {% endblock %}
  {% block js %}
    <script src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/common.js' %}"></script>
  {% endblock %}
</head>
<body>
<div class="container">
  <header class="container">
    {% block header %}
      <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-2">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href=""><span class="fa fa-comments">&nbsp;</span>Internships Reviews</a>
          </div>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
            <ul class="nav navbar-nav"></ul>
            {% if request.user.is_authenticated %}
              <ul class="nav navbar-nav navbar-right">
                <li>
                  <a href="{% url 'company_review_page' %}" class="btn btn-link"><span class="fa fa-plus">&nbsp;</span>Add Review</a>
                </li>
                <li>
                  <a href="#" class="btn btn-link"><span class="fa fa-user">&nbsp;</span>{{ request.user.first_name }} {{ request.user.last_name }}</a>
                </li>
                <li><a class="btn btn-link" href="{% url 'logout_page' %}">
                  <span class="fa fa-sign-out">&nbsp;</span>Logout</a></li>
              </ul>
            {% endif %}
          </div>
        </div>
      </nav>
    {% endblock %}
  </header>
  <main class="container">
    {% block content %}{% endblock %}
  </main>
  <footer class="container">
    <div class="text-center">2015 <i class="fa fa-copyright"></i></div>
  </footer>
</div>
{% block on_load_js %}{% endblock %}
</body>
</html>