{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
                <form action="" method="post" role="form">
                    {% csrf_token %}
                    <h3 class="text-center">Sign In</h3>

                    <div class="form-group {% if form.email.errors %}has-error{% endif %}">
                        <input type="email" name="email" id="email" class="form-control" placeholder="Email Address"
                               tabindex="1"
                               value="{{ form.email.value|default_if_none:'' }}">
                        <span class="text-danger">{{ form.email.errors.0 }}</span>
                    </div>
                    <div class="form-group {% if form.password.errors %}has-error{% endif %}">
                        <input type="password" name="password" id="password" class="form-control" placeholder="Password"
                               tabindex="2"
                               value="{{ form.password.value|default_if_none:'' }}">
                        <span class="text-danger">{{ form.password.errors.0 }}</span>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-6"><input type="submit" value="Sign In" class="btn btn-success btn-block" tabindex="3"></div>
                        <div class="col-xs-12 col-sm-6 col-md-6"><a href="{% url 'registration_page' %}" class="btn btn-primary btn-block">Registration</a></div>
                    </div>
                </form>
                <div class="clear"></div>
                {% if messages %}
                    <br/>
                    <div class="alert alert-dismissible alert-success text-center">
                        <button type="button" class="close" data-dismiss="alert">×</button>
                        <strong>Well done!</strong> {% for message in messages %}{{ message }}{% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}