* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    font-size: 14px;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 60px;
    width: 100%;
}

header {
    min-height: 50px;
}

main {
    padding-top: 25px;
    padding-bottom: 50px;
}

.wrapper {
    position: relative;
    min-height: 100%;
}

.error-message {
    font-size: 12px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    cursor: inherit;
    display: block;
}

.fit-form {
    width: auto;
}

.panel-body-wrapper {
    padding: 0 10px;
}

.height-304 {
    height: 304px;
}

.min-220-width {
    min-width: 220px;
}

.table tbody > tr > td.vertical-align {
    vertical-align: middle;
}

.list-rating-color {
    color: #3E648D;
}

.user-name {
    font-weight: bold;
    color: #3E648D;
}

.review-date {
    color: green;
    font-weight: bold;
}

.office {
    color: red;
    font-weight: bold;
}

.start-line {
    font-weight: bold;
    font-size: 15px;
}

.link-btn:hover {
    text-decoration: none;
}

.jb-custom {
    padding: 24px 30px;
}

.home-image img {
    width: 100%;
}

.ui-autocomplete {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  float: left;
  display: none;
  min-width: 160px;
  _width: 160px;
  padding: 4px 0;
  margin: 2px 0 0 0;
  list-style: none;
  background-color: #ffffff;
  border-color: #ccc;
  border-color: rgba(0, 0, 0, 0.2);
  border-style: solid;
  border-width: 1px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  *border-right-width: 2px;
  *border-bottom-width: 2px;
}

.ui-autocomplete .ui-menu-item > a.ui-corner-all {
  display: block;
  padding: 3px 15px;
  clear: both;
  font-weight: normal;
  line-height: 18px;
  color: #555555;
  white-space: nowrap;
}

.ui-autocomplete .ui-menu-item > a.ui-corner-all.ui-state-hover, .ui-autocomplete .ui-menu-item > a.ui-corner-all.ui-state-active {
  color: #ffffff;
  text-decoration: none;
  background-color: #0088cc;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  background-image: none;
}

.ap {
    padding-left: 15px;
}

.ap:hover {
    cursor: pointer;
}

.ui-widget-content {
    z-index: 5000;
}