{% extends 'base.html' %}
{% load extra_template_tags %}

{% block title %}Companies List{% endblock %}

{% block js %}
  {{ block.super }}
  {% js 'jquery.raty-fa.js' %}
{% endblock %}

{% block content %}
  <table class="table table-striped table-responsive table-bordered">
    {% if companies %}
    <tr>
      <th style="width: 120px" class="text-center">Logo</th>
      <th class="text-center">Name</th>
      <th style="width: 150px" class="text-center">Recommendations</th>
      <th style="width: 140px" class="text-center">Apply learnt</th>
      <th style="width: 140px" class="text-center">Learn new</th>
    </tr>
    {% endif %}
    {% for company in companies %}
      <tr>
        <td class="text-center">
          <a href="{%  url 'company_page' company.id %}"><img height="75" src="{% image_link company.logo_image %}" alt="{{ company.name }}"></a>
        </td>
        <td class="vertical-align text-center" style="font-size: 18px;">
          <a href="{%  url 'company_page' company.id %}">{{ company.name }}</a>
        </td>
        <td class="vertical-align text-center list-rating-color">
          <div class="recommendation" data-score="{{ company.recommendations_score }}"></div>
        </td>
        <td class="vertical-align text-center list-rating-color">
          <div class="apply-learnt" data-score="{{ company.apply_skills_score }}"></div>
        </td>
        <td class="vertical-align text-center list-rating-color">
          <div class="learn-new" data-score="{{ company.learn_new_score }}"></div>
        </td>
      </tr>
    {% empty %}
      <tr>
        <td colspan="5" class="text-center"><h4>Sorry, no companies to view</h4></td>
      </tr>
    {% endfor %}

    {% if companies %}
      <tr>
        <td colspan="5" class="text-center">
          <ul class="pagination pagination-sm">
            {% if companies.has_previous %}
              <li><a href="?page={{ companies.previous_page_number }}"><i class="fa fa-arrow-left"></i></a></li>
            {% else %}
              <li class="disabled"><a href="#"><i class="fa fa-arrow-left"></i></a></li>
            {% endif %}

            <li class="disabled">
              <a href="#">Page {{ companies.number }} of {{ companies.paginator.num_pages }}</a>
            </li>

            {% if companies.has_next %}
              <li><a href="?page={{ companies.next_page_number }}"><i class="fa fa-arrow-right"></i></a></li>
            {% else %}
              <li class="disabled"><a href="#"><i class="fa fa-arrow-right"></i></a></li>
            {% endif %}
          </ul>
        </td>
      </tr>
    {% endif %}
  </table>
{% endblock %}

{% block on_load_js %}
    {{ block.super }}
  <script>
    $(document).ready(function () {
      $(".recommendation, .apply-learnt, .learn-new").raty({
        number: 5,
        half: true,
        halfShow : true,
        readOnly: true,
        score: function () {
          return $(this).attr('data-score');
        }
      });
    });
  </script>
{% endblock %}