{% extends 'base.html' %}

{% block title %}Review Successfully Added{% endblock %}
{% block content %}
  <div class="row">
    <div class="col-sm-12 col-md-12">
      <div class="center-block text-center" style="width: 40%">
        <div class="alert alert-dismissible alert-success">
          <strong>Well done!</strong> {{ message }}
        </div>
        <p class="help-block">
          You will be redirected to companies list automatically after <span id="seconds">3</span> seconds
        </p>
      </div>
    </div>
  </div>
  {% block on_load_js %}
      {{ block.super }}
    <script>
      $(document).ready(function () {
        var seconds = 4;
        var interval = setInterval(function() {
          seconds--;
          if (seconds === 0) {
            window.location.href = '{{ redirect_url }}';
            clearInterval(interval);
            return false;
          }
          $("#seconds").text(seconds);
        }, 1000);
      });
    </script>
  {% endblock %}

{% endblock %}